.presidente-container {
  width: 100%;
  height: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    "player4 player4 player5 player5"
    "player3 info-game info-game player6"
    "player2 player2 player1 player1";
}

.player-1 {
  grid-area: player1;
  flex-direction: column;
}

.player-2 {
  grid-area: player2;
}
.player-3 {
  grid-area: player3;
  flex-direction: row;
  align-items: center;
}
.player-4 {
  grid-area: player4;
}
.player-5 {
  grid-area: player5;
}
.player-6 {
  grid-area: player6;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.info-game {
  grid-area: info-game;
}

.players {
  border: solid 2px;
  display: flex;
}

.player-1 > .game-player-play {
  display: flex;
  flex-direction: row;
}

/* .list-cards > ul {
    display: flex;
    flex-direction: row;

} */

/* ----------------- CARDS ------------------------- */

.card {
  width: 208px; /* Ancho de una carta */
  /* scale: 50%; */
  /* line-height: 0; */
  height: 319px;/* Altura de una carta*/
  background-image: url("../../../public/assets/Baraja_española_completa.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2496px 1595px;
}

.last-card{
    width: 100px;
    height: 150px;
}

.list-cards{
    display: flex;
    flex-direction: row;
    /* scale: 55%; */
}

.player-3 .list-cards{
    display: flex;
    flex-direction: column;
}
.player-6 .list-cards{
    display: flex;
    flex-direction: column;
}

.player-6 > .game-player-play > .list-cards > span.card {
    transform: rotate(-90deg);
}

.player-3 > .game-player-play > .list-cards > span.card {
    transform: rotate(90deg);
}